
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

   <!-- logo link and mission statement -->
    <a class="navbar-brand" href="/images/logo.png">
      <img src="/images/logo.png" alt="PY" width="60" height="50"> <div class="mission">Code is life, Code till die!"</div>
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">


      <% if (title == "Home") { %>
      <li class="nav-item active">
      <% } else { %>
        <li class="nav-item">
      <% } %>
          <a class="nav-link " aria-current="page" href="/home"><i class="fas fa-caravan"></i> Home</a>
        </li>


        <% if (title == "About") { %>
      <li class="nav-item active">
      <% } else { %>
        <li class="nav-item">
      <% } %>
          <a class="nav-link " aria-current="page" href="/about"><i class="far fa-address-card"></i> About</a>
        </li>
      

        <% if (title == "Projects") { %>
      <li class="nav-item active">
      <% } else { %>
        <li class="nav-item">
      <% } %>
          <a class="nav-link " aria-current="page" href="/project"><i class="fas fa-project-diagram"></i> Projects</a>
        </li>


        <% if (title == "Services") { %>
      <li class="nav-item active">
      <% } else { %>
        <li class="nav-item">
      <% } %>
          <a class="nav-link " aria-current="page" href="/service">Services</i></a>
        </li>


        <% if (title == "Contact") { %>
      <li class="nav-item active">
      <% } else { %>
        <li class="nav-item">
      <% } %>
          <a class="nav-link " aria-current="page" href="/contact">Contact <i class="fas fa-at"></i></a>
        </li>


        <% if (title == "Book") { %>
      <li class="nav-item active">
      <% } else { %>
        <li class="nav-item">
      <% } %>
          <a class="nav-link " aria-current="page" href="/books-list">Book <i class="fas fa-at"></i></a>
        </li>

        <% if(typeof displayName == 'string' && displayName) { %>
          <li class="navbar-text"><i class="fas fa-lg fa-user"> Welcome, <%= displayName%></i></li>
          <li class="nav-item"><a href="/logout" class="nav-link"> 
            <i class="fas fa-lg fg-sign-out-alt"></i> Logout</a></li>
        <% } else { %>

          <li class="nav-item"><a href="/login" class="nav-link">
            <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
        <% } %>

      </div>
     </div>
</nav>