<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
       
      </div>
      

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
        
          <img src="/images/IMG_5659.jpg" width="300" height="400">
          <div class="centered"><strong>Priti Yadav </strong></div>
        </div>

        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>UI/UX &amp; Web Developer</h3>
          <p >
             I am looking for an internship. Please find my resume and contact details below.
          </p>

           <!-- content about me -->
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Resume:</strong> <a href="/Assets/ Priti Yadav Resume.pdf">Priti Yadav Resume</a></li>
                <li><i class="icofont-rounded-right"></i> <strong>Website:</strong><a href="https://codeislife.herokuapp.com/"> codeislife.herokuapp.com</a></li>
               
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> YadavPriti.0210@gmail.com</li>
                <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
              </ul>
            </div>
          </div>
          <p>
            I am enrolled into the Software Engineering Artificial Intelligence program. Language is an important tool and I aspire to use every coding language I know or I would learn, to their best use.

        </div>
      </div>

    </div>    
    </div>
  </main>
  



<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>