<div class="background"> 
<%- include partials/header.ejs %>

<!-- main nav -->
<%- include partials/main_nav.ejs %>


<!-- main section.. -->

 <main class="container" class="">
 
  
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="mt-5">Priti Yadav</h1>
          <p>Hi, welcome to my site. 
            I'm a student at Centennial College and I am practicing Web Development.  <button  class="btn btn-info"><a href="/about" class="text" >click here</a>  </button>
          </p>
          <div class="col-lg-12 ">
          <!-- welcome page background image -->
           <img src="https://matchboxdesigngroup.com/wp-content/uploads/2020/02/Full-Stack-Web-Developer-We-Are-Hiring-Matchbox-Design-Group-in-St.-Louis-MO.jpg" width="300" height="300" alt="" > 
           
           </div>
    </div>
    </div> 
  </div>
</div>
 </main> 
</div>
    
  <!-- // bottom nav -->

  <%- include partials/bottom_nav.ejs %>

<script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<%- include partials/footer.ejs %>
  

