<div class="background"> 

<%- include partials/header.ejs %>

<!-- main nav -->
<%- include partials/main_nav.ejs %>


<!-- main section.. -->

 <main class="container" class="">
 
  <link rel="stylesheet" href="css/templatemo-digital-trend.css">

</head>
<body>

     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
      <div class="container">
           <div class="row">

               <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                     
                      <a href="https://google.com" class="button">Go to Survey</a>
                      
               </div>

               <div class="col-lg-6 col-12">
                 <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                   <img src="/images/working-girl.png" class="img-fluid" alt="working girl">
                 </div>
               </div>

           </div>
      </div>
</section>

<!-- ABOUT -->
<section class="about section-padding pb-0" id="about">
  <div class="container">
       <div class="row">

            <div class="col-lg-7 mx-auto col-md-10 col-12">
                 <div class="about-info">

                      <h2 class="mb-4" data-aos="fade-up">The best <strong>Survey creators</strong> Online</h2>

                      
                 </div>

                 <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                  <img src="/images/office.png" class="img-fluid" alt="office">
                  <div><h5 class="mb-0" data-aos="fade-up">Build surveys into your application</h5></div>
                  <section id="section01" class="demo">
                      <h1>Try Me</h1>
                      <a href="/"><span></span>Scroll</a>
                    </section>
                </div>
            </div>

       </div>
  </div>
</section>


       



 </main> 
</div>
    
  <!-- // bottom nav -->

  <%- include partials/bottom_nav.ejs %>

<script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 

<%- include partials/footer.ejs %>
  

