<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  

  <!-- Main Content -->


<main class="container">
    <div class="jumbotron">

    
      
  <!-- ======= projects Section ======= -->
  <section id="projects" class="projects">
    <div class="container">

      <div class="section-title">
        
        <h5>Here are few projects I am working on. Click the project name and find dedicated git repository. Please Click on image to zoom it.</h5>
      </div>
      <div class="container">

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" >
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="https://github.com/pritiyadav888/news_scrapping" style= "color:rgb(2, 58, 58);">News Scrapper</a><a href="/images/Googlescraper.png"><img src="/images/Googlescraper.png" alt="Console screenshot" width="300" height="300" ></a></h4>
            <p>Python is the language used in this project. I web scrapped the "Google news" in this project to get top 10 news of the moment. It updates itself everytime user asks for the news items.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="https://github.com/pritiyadav888/Buttons/blob/main/project2.html" style= "color:rgb(2, 58, 58);">Buttons</a><a href="/images/Buttons.png"><img src="/images/Buttons.png" alt="screenshot" width="300" height="300" ></a></h4>
            <p>I designed this website with three button pages coded in html ,CSS and javascript. Purpose of this website is to provide user a variety of buttons with their codes to save user's time.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="https://github.com/pritiyadav888/Age-Calculator" style= "color:rgb(2, 58, 58);">Age Calculator</a>
            <a href="/images/AgeCalculator.png"><img src="/images/AgeCalculator.png" alt="screenshot" width="300" height="300" ></a></h4>
            <p>This is a complete project coded in javaScript and html. This calculator takes user input in years and returns output value in days. Purpose of the calculator is to know the age in number of days.</p>
          </div>
        </div>

       

      </div>
      </div>

    </div>
  </section><!-- End projects Section -->
    </div>
  </main>
  






<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>