<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">

    
      
  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2 style= "color:rgb(69, 151, 151);">Services Offered:</h2>
        <p></p>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 ><a href="" style= "color:rgb(2, 58, 58);">Survey Creation</a></h4>
            
            <img src="https://bit.ly/2ZhwfzT" alt="" width="300" height="200">
            <h5></h5>
            
            <h5>Client-focused, customer-centric, creating website solutions that deliver tangible business results, Black-Hole brands the ever-changing digital landscape.</h5>
            
          </div>
        </div>

        <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 ><a href="" style= "color:rgb(2, 58, 58);">Brand Promotion</a></h4>
            <img src="https://bit.ly/37tQHCf" alt="" width="300" height="200">
            <h5></h5>
            

            <h5>Your Barnd's promotion is in safe hands with us. Try Black-Hole.</h5>
            
          </div>
        </div>

        
        

      </div>

    </div>
  </section><!-- End Services Section -->
    </div>
  </main>
  



<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>